{{#if session.isAuthenticated}}
  {{#unless isAvatarEmpty}}
    <div class="upper">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src={{currentUser.avatar.thumb_url}} class="profile-image img-circle avatar">  {{currentUser.name}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>{{#link-to 'users.edit' currentUser.id}}<i class="glyphicon glyphicon-cog"></i> Account{{/link-to}}</li>
                <li class="divider"></li>
                <li><a {{ action 'signout' }} href="#"><i class="glyphicon glyphicon-log-out"></i> Sign-out</a></li>
            </ul>
        </li>
      </ul>
    </div>
  {{else}}
    <div class="upper2">
      <p class="nav navbar-right navbar-nav">
        <a {{ action 'signout' }} href="#">
          Sign-out
          <i class="glyphicon glyphicon-log-out"></i>
        </a>
      </p>
      <p class="nav navbar-right navbar-nav">
        Signed in as&nbsp;
        {{#link-to 'users.edit' currentUser.id}}<span class='username'>{{currentUser.name}}</span><i class="glyphicon glyphicon-cog"></i>{{/link-to}}
        &nbsp;
      </p>
    </div>
  {{/unless}}
{{/if}}